*::-webkit-input-placeholder {
	color: #666;
	opacity: 1;
}
*:-moz-placeholder {
	color: #666;
	opacity: 1;
}
*::-moz-placeholder {
	color: #666;
	opacity: 1;
}
*:-ms-input-placeholder {
	color: #666;
	opacity: 1;
}

body input:focus:required:invalid,
body textarea:focus:required:invalid {
	
}
body input:required:valid,
body textarea:required:valid {
	
}
body {
	font-family: 'Open Sans', sans-serif;
	font-size: 17px;
	background-color: #ffffff;
}
.row {
	margin:0;
}
.my-wrap{
	max-width: 1240px;
	margin: 0 auto;
	position: relative;
	box-sizing: border-box;
}
/*-------------------------HEADER--------------------------------*/
.navbar-nav > li > .dropdown-menu {
	z-index: 5000;
}
.nav>li>a:focus {
	text-decoration: none;
	background-color: white;
}
a.btn {
	color: #949494;
	border: none;
	border-radius: 0;
	font-size: 12px;
	border-radius:0;
	letter-spacing:1px;
}
.navbar{
	padding-top:13px;
	color:#707070;
	margin-bottom: 10px;
}
.nav>li>a:hover {
	text-decoration: none;
	background-color: rgb(255, 255, 255);
}
.navbar-nav>li>a.btn {
	text-shadow: 0 1px 0 rgba(255,255,255,.25);
	padding: 10px 25px;
	border: 1px solid #a9a9a9;
	color: #707070;
	border-radius: 5px;
	font-family: "OpenSansRegular";
}
a.btn {
	border: 1px solid #a9a9a9;
	font-family: "OpenSansRegular";
}
.slide-cont, div.container-fluid{
	padding: 0;
}
.navbar-nav>li>a.btn:hover, ul.navbar-right a.dropdown-toggle.btn:hover{
	color:#16b4dc;
	  border: 1px solid #16b4dc;
	  background-color: white;
}
ul.navbar-right a.dropdown-toggle.btn {
	margin-right: 10px;
	color: #707070;
}
.btn .caret {
	margin-left: 10px;
}
ul.navbar-right .dropdown-menu>li>a:focus, ul.navbar-right .dropdown-menu>li>a:hover {
	background-color:white;
	background-image: none;
	color:#16b4dc;
}
.navbar-right .dropdown-menu {
	right: 10px;
	left: -10px;
	border: none;

}
.dropdown-menu {
	top: 100%;
	min-width: 116px;
}
ul.nav.navbar-nav.navbar-right li.dropdown a, ul.menu-lang li a{
	background: url("../img/flag.png") no-repeat;
	border: none;
	box-shadow: none;
	padding: 3px 10px 7px 40px;
	display: block;
}
ul.nav.navbar-nav.navbar-right li.dropdown a:active{
	box-shadow: none;
}
ul.nav.navbar-nav.navbar-right li.dropdown a.eng, ul.menu-lang li a.eng {
	background-position: 4px 6px;
 }
ul.nav.navbar-nav.navbar-right li.dropdown a.ger, ul.menu-lang li a.ger {
	background-position: 4px -27px;
}
ul.nav.navbar-nav.navbar-right li.dropdown a.span, ul.menu-lang li a.span {
	background-position: 4px -53px;
}
ul.nav.navbar-nav.navbar-right li.dropdown a.ital, ul.menu-lang li a.ital {
	background-position: 6px -81px;
	padding-left: 40px;
}
.logo {
	background: url("../img/heart.png") no-repeat 3px 10px;
}
a.logo {
	padding-left: 50px;
	color: black;
	font-weight: 800;
	font-size: 36px;
	font-family: 'OpenSans', sans-serif;
	position: relative;
	margin-right: 50px;
	margin-left: 10px;
}
.logo>span {
	font-size: 9px;
	text-transform: uppercase;
	font-weight: 400;
	color: #72cae6;
	letter-spacing: 1px;
	position: absolute;
	top: 3px;
	right: 9px;
}
ul.nav.navbar-nav.my-custom{
	margin-left: 35px;
}
ul.my-custom li a{
	color:#828282;
	font-size: 18px;
	padding-top: 21px;
}
.no-visible{
	display: none;
}
ul.my-custom li a:hover, a.dropdown-toggle.btn.no-visible.navbar-right:hover{
	color:#16b4dc;
	cursor: pointer;}

.carousel-inner .item{
	max-height: 608px;

}
.carousel-control .glyphicon-menu-left, .carousel-control .icon-prev {
	top: 47%;
	left:25px;
	font-size: 36px;
	position: absolute;
}
#carousel-header .carousel-inner {
	position: relative;
	overflow: hidden;
	max-width: 2000px;
	margin: 0 auto;
}
.carousel-control .glyphicon-menu-right, .carousel-control .icon-next {
	top: 47%;
	right: 25px;
	font-size: 36px;
	position: absolute;
}
.carousel-inner .item img{
	max-width:100%;
	margin: 0 auto;

}
a.dropdown-toggle.btn.no-visible.navbar-right {
	padding: 10px 15px;
	cursor: pointer;
	color:#828282;
}
ul.dropdown-menu.menu {
	top: 39px;
	right: -2px;
	text-align: center;
}
ul.nav.navbar-nav.navbar-right {
	padding: 0;
	margin-top: 9px;
}
.carousel-inner .my-wrap{

}

.panel.panel-default.promo{
	position: absolute;
	z-index: 1500;
	background: rgba(0, 0, 0, 0.45);
	color: white;
	border: none;
	border-radius: 0;
}
.panel.panel-default.promo.custom-panel {
	bottom: 0;
	max-width: 700px;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	left: 76px;
	right: auto;
	justify-content: center;
}
.panel.panel-default.promo.panel-form{
	bottom: 0;
	right: 0;
	max-width:400px;
	right: 8%;
	left: auto;
}
.promo-block {
	background: url(../img/promo-panel.png) no-repeat;
	font-size: 26px;
	font-weight: 600;
	padding: 15px 0 15px 88px;
	width: 45%;
	margin: 20px 0;
}
.promo-info {
	display: block;
	font-size: 17px;
	font-weight: 300;
	margin-top: 7px;
}
.promo-account {
	background-position: 19px 9px;
}
.promo-secure {
	background-position: 19px -99px;
}
.promo-ledies {
	background-position: -400px 6px;


}
.promo-privates {
	background-position: -400px -99px;

}

.form-group label {
	font-size: 14px;
	text-align: right;
}
footer.form-footer{
	text-align: center;
	font-size: 12px;
	padding: 10px;
}
footer.form-footer a{
	color:white;
	text-decoration: underline;
}
footer.form-footer a:hover {
	color:#16b4dc;
}
#my-form h2{
	font-size: 22px;
	text-align: center;
	padding: 20px;
	font-weight: 300;
}


/*button.btn.btn-primary.center-block.fb span.glyphicon.fa.fa-facebook {
	margin-right: 10px;
	border-right: 1px solid #464546;
	font-size: 19px;
	display: inline-block;
	position: absolute;
	top: -1px;
	left: 0px;
	padding: 9px;
}*/
.fb {
	border: none;
	background-color: #3c5a99;
	color: white;
	padding: 10px 15px;
}
a.btn.fb {
	border: none;
	color: white;
}
span.glyphicon.fa.fb {
	margin-right: 1px;
	border-radius: 4px;
}
span.glyphicon.fa.fb i.fa.fa-facebook {
	font-size: 24px;
	position: absolute;
}
button.btn.btn-primary.fb {
	border-radius: 0;
	margin-bottom: 15px;
}

button.btn.btn-primary.fb.fb-left i.fa.fa-facebook {
	position: relative;
	right: -2px;
	bottom: -6px;
	font-size: 32px;
}
button.btn.btn-primary.fb.fb-left:focus{
	background-color: #265a88;
	background-image:none;
	text-shadow: none;
	box-shadow: none;
	outline:none;
}
button.btn.btn-primary.fb.fb-left {
	margin-right: 1px;
	padding: 4px 8px;
	border-radius: 3px;
	background-color: #265a88;
	background-image:none;
}
button.btn.btn-primary.fb.fb-left:hover{
	background-color: #265a88;
	background-image:none;
}

.right {
	text-align: right;
}
.number {
	/* padding: 0 2px; */
	padding-right: 0px;
}
a.btn.drop-number {
	position: absolute;
	top: 2px;
	right: 6px;
	background: white;
	border: none;
	height: 30px;
	width: 21px;
	padding: 0;
}
button.btn.btn-default.center-block.custom-submit {
	background-color: #5f9c10;
	background-image: none;
	border-radius: 0;
	color: white;
	text-shadow: none;
	border: none;
	font-size: 17px;
}
button.btn.btn-default.center-block.custom-submit:hover{
	box-shadow: inset 0px 0px 2px 0px rgba(255,255,255,1);
}
/*-------------------------HEADER--------------------------------*/
/*-----------Main-----------------------------------------------*/
div#carousel-girl-online, div#carousel-girl-popular  {
	padding: 0;
}
a.my-right, a.my-left{
	position: absolute;
	font-size: 41px;
	color: #6D6D6D;
	transition: all .2s ease-in-out;
	display: none;
}
a.my-right {
	top: 35%;
	right: -41px;
}
a.my-left {
	top: 35%;
	left: -41px;
}
a.my-right:hover, a.my-left:hover{
	color: #0088dd;

}
h3.title-ledies-group {
	font-size: 24px;
	text-align: center;
	color: #959595;
	margin-top: 50px;
	font-weight: 400;
	margin-bottom:40px;
}
span.line-decor {
	width: 20%;
	border-bottom: 1px solid #6a696e;
	display: inline-block;
	margin: 6px 34px;
}
.link-img {
	display: block;
	margin: 0 auto;
	position: relative;
}
/*test.html*/
.test-block{
	float:left;
	width: 25%;
	margin-left:10px;
}
/**/
.prev-anketa.center-block {
	max-width: 292px;
	padding: 0 10px;
}
.prev-anketa img{
	max-width: 100%;
}
.online, .v-prof, .check-star{
	position: absolute;
	right: 0;
	display: block;
	color: white;
	font-size: 18px;
	padding: 3px 7px;
	text-decoration: none;

}
a.online:hover{
	text-decoration: none;
	color: white;
cursor: default;
}
a.online:visited{
	text-decoration: none;
	color: white;
	cursor: default;
}
a.online:focus{
	text-decoration: none;
	color: white;
	cursor: default;
}
a.online {
	background-color: #57b711;
	top:0;
	font-family: 'Open Sans', sans-serif;
}
.v-prof {
	bottom: 0;
	transition: all .2s ease-in-out;
	font-family: 'Open Sans', sans-serif;
	padding: 8px 13px 8px 30px;
	background: url(../img/profile-btn.png) -155px 12px no-repeat rgba(0,0,0,.34);
	transition: all .2s ease-in-out;

}

a.v-prof:hover{
	text-decoration: none;
	color:white;
	padding-bottom: 20px;
}
ul.action{
	box-sizing: border-box;
	width: 100%;
	border-left:1px solid #e1e1e1;
	border-right:1px solid #e1e1e1;
	border-bottom:1px solid #e1e1e1;
}
ul.action li{
	box-sizing: border-box;
	display: inline-block;
	float: left;
	width: 33.33%;
	border-right:1px solid #e1e1e1;
	padding: 17px 13px 17px 30px;
	text-align: center;
	color:#e1e1e1;
	background:url("../img/profile-btn.png") no-repeat;
	transition: all .5s ease-in-out;
}

ul.action li a{
	font-size: 14px;
	color:#979797;
	display: block;
	font-family: 'Open Sans', sans-serif;
}
li.right {
	float: right;
}
ul.action li:hover {
	background-color: rgba(33, 139, 232, 0.23);
}
ul.action li:last-child{
	border-right:none;
	float: right;
}
ul.action li.letter{
	background-position: 7px -18px;
}
ul.action li.chat{
	background-position: -89px -20px;

}
ul.action li.video{
	background-position: -175px -19px;
}
h3.my-name {
	font-size: 36px;
	padding: 20px 0 0 7px;
	font-family: 'Open Sans', sans-serif;
	position: relative;
}
span.ind-online {
	position: absolute;
	display: inline-block;
	width: 10px;
	height: 10px;
	border-radius: 15px;
	background: #57b711;
}
span.y-old, span.from-city {
	padding-left: 7px;
	color: #a5a5a5;
}
/*-----------------girls - end-------------------*/
/*---------------NEWS---------------------------*/
article.news{
	margin-top: 100px;
}
h1.title-news {
	color: #959595;
	font-size: 35px;
	border-bottom: 1px solid #dddddd;
	padding-bottom: 30px;
	padding-left:3px;
}
.media .img-circle {
	border-radius: 50%;
	width: 90px;
	height: 90px;
}
.media-heading a {
	font-size: 13.6px;
	color: #16b4dc;
}
.media-heading {
	margin-top: 0;
	margin-bottom: 13px;
	padding-left: 10px;
}
p.text-news {
	font-size: 13.6px;
	color: #959595;
	line-height: 18px;
	padding-left: 10px;
}
span.date-news {
	font-size: 12px;
	display: block;
	padding-left: 10px;
	margin-top: 10px;
	color: #d9d9d9;
	margin-bottom: 14px;
}
.media-body a.btn{
	margin-left: 10px;
}
 a.btn.my-btn{
	margin-left: 10px;
	background-color: #57b711;
	color: white;
	border: none;
	font-size: 12.5px;
	transition: all .2s ease-in-out;
	 border-radius:0;
}
a.btn.my-btn:hover{
	background-color: #16b4dc;
}
.media {
	margin-top: 15px;
	margin-bottom: 40px;
}
p.about-brides {
	font-size: 14px;
	line-height: 24px;
	color: #a0a0a0;
}
p.about-brides  a {
	color: #16b4dc;
}
.panel.panel-default.banner-place {
	margin-top: 30px;
}
.panel-body h1{
	font-size: 34px;
	color: #cfcfcf;
	text-align: center;
}
.panel.panel-default.banner-place {
	background-color: #f2f2f2;
	border-radius: 0;
	border: none;
}
.panel-body h1 {
	font-size: 34px;
	color: #cfcfcf;
	text-align: center;
	margin: 270px 0;
}

/*---------------------------------------------------------------*/
/*------------------FOOTER-----------------------------------------*/
.looking {
	text-align: center;
	background:repeating-linear-gradient(#eee9df, #eee9df 7px, #e5dfd1 7px, #e5dfd1 13px );
	padding-bottom: 90px;

	max-width: 2000px;
	margin: 0 auto;
	position: relative;
	color: #54524c;
	z-index: 999;
}
.looking h3 {
	font-size: 48px;
	padding-top: 143px;
	padding-bottom: 15px;
	/*background: #eee9df url('../img/bg-footer.jpg') no-repeat -100px 81px;*/
	z-index: 900;
	position: relative;

}
.looking p {
	color: #959595;
	font-size: 30px;
	margin-bottom: 40px;
}
.looking .my-wrap{
	position: relative;
}
.looking .center-block{
	display: inline-block;
}
.banner-logo {
	display: inline-block;
	position: absolute;
	left: -204px;
	top: 37px;
}
.banner-logo img{
	max-width:100%;
}
.looking a.btn {
	border-radius: 0;
	background-color:#16b4dc;
	color: white;
	font-size: 21px;
	padding: 10px 44px;
	transition: all .2s ease-in-out;
}
.looking a.btn:hover{
	background-color: #1683a7;
}
footer.footer-page {
	background-color: #f1f1f1;
	padding-bottom: 70px;
	border-top: 5px solid #16b4dc;
	max-width: 2000px;
	margin: 0 auto;
}
footer a.logo {
	margin-left: 0;
	margin-top: 40px;
	margin-bottom: 27px;
}
.copyr {
	font-size: 12px;
	color: #787878;
	padding-left: 5px;
	clear: both;
	display: block;
}


.soc-btn a.btn {
	margin-top: 15px;
	border: none;
	width: 40px;
	height: 40px;
	color:white;
	border-radius: 0;
	font-size: 20px;
	transition: all .2s ease-in-out;

}
.sc-youtube {
	background-color: #e70031;
}
.sc-facebook {
	background-color: #39599f;
}
.sc-twiter {
	background-color: #45b0e3;
}
.sc-vimeo {
	background-color: #7edde8;
}
.soc-btn a.btn:hover{
transform: Scale(.9);
}
.footer-title-gr {
	margin-top: 53px;
	border-left: 1px solid #e6e6e6;
	padding-left: 20px;
}
.footer-title-gr h3 {
	font-size: 18px;
	color: #000000;
	margin-bottom: 30px;
}
.footer-title-gr li {
	display: block;
	font-size: 12px;
	/* color: #979797; */
	margin-bottom: 15px;
}
.footer-title-gr li a{
	color:#979797;
}
.footer-title-gr li a:hover{
	color:#16B4DC;
}
ul.footer-title-gr.agency {
	padding-bottom: 72px;
}
ul.footer-title-gr.agency.service {
	padding-bottom: 30px;
}
ul.footer-title-gr.agency li, ul.footer-title-gr.agency.service li {
	padding: 14px 0 15px 46px;
	height: 41px;
	margin-bottom: 0;
}
ul.footer-title-gr.agency li{
	background: url("../img/icon-about.png") no-repeat;
}
ul.footer-title-gr.agency li:first-child, ul.footer-title-gr.agency.service li:first-child{
	padding:0;
	background: none;
}
ul.footer-title-gr.agency li.agancy-mission{
	background-position: 0px 3px;
}
ul.footer-title-gr.agency li.agancy-scam{
	background-position: 0px -35px;
}

ul.footer-title-gr.agency li.agancy-news{
	background-position: 1px -74px;
}

ul.footer-title-gr.agency li.agancy-test{
	background-position: 0px -112px;
}
ul.footer-title-gr.agency li.agancy-girl{
	background-position: 1px -149px;
}
ul.footer-title-gr.agency.service li{
	background: url("../img/icon-service.png") no-repeat;
}
ul.footer-title-gr.agency.service li.servise-our{
	background-position: 0px 4px;
}
ul.footer-title-gr.agency.service li.service-com{
	background-position: 0px -34px;
}
ul.footer-title-gr.agency.service li.service-gift{
	background-position: 0px -71px;
}
ul.footer-title-gr.agency.service li.service-special{
	background-position: 0px -110px;
}
ul.footer-title-gr.agency.service li.service-week{
	background-position: 0px -148px;
}
ul.footer-title-gr.agency.service li.service-trip{
	background-position: 0px -186px;
}

.input-number-box{
	display: inline-block;
	position: relative;
}

.input-number{
	line-height: 25px;
	height:45px;
	padding-right: 25px;
}
.input-number-more,
.input-number-less{
	position: absolute;
	right: 8px;
	border-width: 5px;
	border-style: solid;
	cursor: pointer;
}
.input-number-more{
	top: 2px;
	border-color: transparent transparent gray transparent;
}
.input-number-less{
	bottom: 2px;
	border-color: gray transparent transparent transparent;
}

/*------------ARTICLE-PAGE---------------*/

.page-header {
	border-bottom: 1px solid #eee;
	text-align: center;
	background-color: #f4f4f4;
	padding-top:20px;
	color: #000;
	max-width: 2000px;
	margin: 0 auto;
	clear: both;
}
.page-header h1 {
	font-size: 40px;
	font-family: "HelveticaRegular", sans-serif;
	margin: 0;
	margin-bottom: 20px;
}
.breadcrumb {
	padding-top: 0;
	margin-bottom: 0;
}
.breadcrumb a{
	color:#868686;
	font-size: 18px;
}
h2.news-head {
	text-align: center;
	font-size: 34px;
	margin-top: 55px;
	color:#484848;
	font-family: "Georgia", sans-serif;
}
.text-wrap{
	padding-left: 50px;
	font-size: 18px;
	line-height: 26px;
	font-family: "Georgia", sans-serif;
	color: #484848;
	margin-top: 60px;
}
.mini-slider {
	float: left;
	max-width: 413.33px;
	margin-right: 35px;
	padding-top: 10px;
	padding-bottom: 135px;
}
span.glyphicon.glyphicon-triangle-right {
	background: rgba(0, 0, 0, 0.34);
	padding: 6px;
	border-radius: 50%;
	padding-left: 7px;
}
span.glyphicon.glyphicon-triangle-left {
	background: rgba(0, 0, 0, 0.34);
	padding: 6px;
	border-radius: 50%;
	padding-right: 7px;
}
span.glyphicon.glyphicon-triangle-right {
	top: 47%;
	right: 25px;
	font-size: 20px;
	position: absolute;
}
span.glyphicon.glyphicon-triangle-left {
	top: 47%;
	left: 25px;
	font-size: 20px;
	position: absolute;
}
.mini-slider .carousel-indicators {
	position: absolute;
	bottom: -78px;
	left: 50%;
	z-index: 15;
	width: 100%;
	padding-left: 0;
	margin-left: -50%;
	text-align: left;
	list-style: none;
}


.mini-slider .carousel-indicators li {
	display: inline-block;
	box-sizing: border-box;
	width: 98.88px;
	height: 65px;
	margin: 0;
	text-indent: 0;
	cursor: pointer;
	background-color: #000\9;
	background-color: rgba(0,0,0,0);
	border: none;
	border-radius: 0;
	transition: all .2s ease-in-out;
	padding: 5px;
	text-align: justify;

}
.mini-slider .carousel-indicators li:hover{
}
.mini-slider .carousel-indicators li:first-child{
	padding-left: 0;
}
.mini-slider .carousel-indicators li:last-child{
	padding-right: 0;
}

.mini-slider .carousel-indicators li img{
	width: 94.328px;

}
.mini-slider .carousel-indicators li.active img{
	box-shadow: 0px 0px 10px 2px rgb(146, 141, 146);

}
p.article-news-text{
	display: block;
	margin-bottom: 35px;
}
.article-page-img {
	float: right;
	margin: 20px 0 0 35px;
}
.article-page-aside{
}
.article-news-image{
	max-width:400px;

}
.other-news-wrap{
	margin-bottom: 100px;
}
textarea{
	resize: none;
}
.article-news-image img {
	max-width: 100%;
	border-bottom: 8px inset transparent;
	max-height: 179px;
}
.article-news-image img:hover {
	border-bottom: 8px inset #e4e4e0;
}
.article-media-body h4.media-heading a {
	 font-size: 30px;
	 color: #16b4dc;
	font-weight: 300;
	font-family: 'OpenSans', sans-serif;
	transition: all .2s ease-in-out;
 }
.article-media-body h4.media-heading a:hover {
	color: #067e9c;
}
.article-media-body{
	padding-top: 27px;
}
.article-media-body h4.media-heading{
	padding-left: 0;
}
.article-media-body p.text-news, .article-media-body span.date-news{
	padding-left: 0;
	margin-left: 0;
}
.article-media-body p.text-news{
	font-size: 14px;
	line-height: 21px;
	padding-top: 10px;
	padding-bottom: 20px;
	padding-left: 0;
	margin-left: 0;
	font-family: "OpenSansRegular";
}
.article-media-body a.btn{
	border-radius: 0;
	margin-left: 0;
	padding: 6px 15px;
}
.article-page-aside {
	margin-bottom: 75px;
}
/*----------------CONTACT-UA------------------------*/
.page-header.question {
	background-color: #1f68ba;
	color: white;
	font-family: "Open Sans", sans-serif;
	border: none;
}
.page-header.question h1 {
	font-size: 48px;
	margin-bottom: 20px;
	margin-top: 0;
}
.page-header.question h2{
	font-size: 30px;
	margin-bottom: 60px;
}
.question form {
	text-align: center;
	margin-bottom: 50px;
}
form#question input {
	font-size: 18px;
	padding: 10px 0 10px 10px;
	height: 50px;
	border-radius: 0;
	width: 450px;
	display:inline-block;
	border: none;
	margin-right: 10px;
}
.question form a.btn.my-btn {
	font-size: 18px;
	padding: 13px 16px 12px 21px;
	margin-left: 0;
}
.media.faq {
	padding-top: 100px;
	margin-bottom: 75px;
}
img.faq-img {
	position: relative;
	left: -84px;
	top: -14px;
}
.wrap-img{
	max-width: 382px;
	height: 382px;
	background: white;
	overflow: hidden;
	border-radius: 50%;
	margin: 0 auto;
	position: relative;
}
.media-body.media-body-faq {
	vertical-align: middle;
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
	font-size: 30px;
	width: 57.57%;
	padding-left: 15px;
}
.media-body.media-body-faq h4, .media-body.media-body-faq p {
	padding-left:0;
}
.media-body.media-body-faq a.btn {
	margin-left: 0;
	font-size: 17px;
	padding: 6px 20px;
}
a.public-faq {
	color: #5a9ce6;
	transition: all .2s ease-in-out;
}
a.public-faq:hover{
	color: #4a629d;
	text-decoration: underline;

}
.media-body.media-body-faq p {
	margin-top: 45px;
	margin-bottom: 35px;
	padding-left:0;
	color:#9f9f9f;
	font-size: 18px;
	line-height: 20px;
}
.wrap-img h1 {
	color: white;
	/* float: left; */
	/* margin: 0 auto; */
	position: absolute;
	left: 99px;
	top: 68px;
	font-size: 6em;
	font-weight: 900;
	text-transform: uppercase;
}
form#send-email, form#reg-form {
	background-color: #f4f4f4;
	padding: 50px 0 21px 0;
	margin-bottom: 40px;
}
.form#reg-form{
	margin-bottom: 75px;
}

form#send-email label, form#reg-form label{
	margin-bottom: 20px;
	color:#6d6d6d;
	font-size: 18px;
}
form#send-email input, form#reg-form input{
	border-radius: 0;
	height: 50px;
	border: none;
	padding: 10px 0 10px 10px;
	box-sizing: border-box;
}
form#send-email textarea{
	border-radius: 0;
	border: none;
	padding: 10px 0 10px 10px;
	box-sizing: border-box;
}
form#send-email a.btn, form#reg-form a.btn {
	margin-left: 15px;
	margin-top: 40px;
	padding: 10px 18px;
	background-color: #1f68ba;
	transition: all .2s ease-in-out;
}
form#send-email a.btn:hover, form#reg-form a.btn:hover{
	background-color: #218be8;
}

h1.tittle-email {
	padding-left: 15px;
	color: #929292;
	font-size: 34px;
}
.send-emeil-info h4 {
	color: #35900d;
	font-size: 24px;
	padding: 12px 0;
}
.send-emeil-info p {
	font-size: 14px;
	color: #9f9f9f;
	line-height: 20px;
	padding-bottom: 15px;
}
h1.title-create-ac {
	font-family: "HelveticaLight", sans-serif;
	padding-left: 15px;
	color: #929292;
	font-size: 34px;
}
span.prv-policy {
	font-size: 14px;
	color: #939393;
	display: inline-block;
	margin-top: 32px;
	margin-bottom: 10px;
}
form#reg-form a.btn {
	margin: 0;
	margin-left: 15px;
}
img.cerds{
	margin-bottom: 190px;
}
span.prv-policy a{
	color: #939393;
	text-decoration: underline;
}
span.prv-policy a:hover{
	color: #0044cc;
}

/*-----------Inner-Page------------------*/
.text-wrap.about-brides.clearfix {
	max-width: 826px;
	margin: 0 auto;
	padding-left: 0;
}
h2.news-head.about-brides-head {
	margin-bottom: 35px;
}
.text-wrap.about-brides.clearfix .mini-slider {
	padding-bottom: 107px;
}

.inner-page-img {
	max-width: 220px;
	float: right;
	margin: 20px 0 20px 20px;
}
img.inner-page-img-full {
	border: 0;
	max-width: 100%;
	max-height: 397px;
	margin-bottom: 35px;
}
.row div.text-wrap.about-brides.clearfix:last-child{
	margin-bottom: 135px;
}
/*-------------Ladies-catalog------------------*/
.nav-inverse-lady-catalog{
	background-color: #3c3c3c;
	background-image: none;
	color: white;
	border-radius: 0;
	border: none;
	padding-top: 0;
	min-height: 42px;
}
span.dashboard {
	float: left;
	display: inline-block;
	font-size: 22px;
	padding: 8px 15px;
	color:#b3b3b3;
}
span.events {
	background-color: red;
	width: 20px;
	border-radius: 17px;
	height: 20px;
	text-align: center;
	display: inline-block;
	margin: 0 5px;
	padding-right: 1px;
	transition: all .2s ease-in-out;
}
ul.nav.navbar-nav.my-custom-lady-catalog a {
	color: white;
	font-size:14px;
	position: relative;
	transition: all .2s ease-in-out;
	padding: 11px 10px;
	text-align: left;
}
ul.nav.navbar-nav.my-custom-lady-catalog a:hover span{
}
ul.nav.navbar-nav.my-custom-lady-catalog a:hover {
	/* text-decoration: underline; */
	background-color: #5e5e5e;
}
ul.nav.navbar-nav.navbar-right.lady-catalog-menu li a{
	background-image: none;
	color:white;
	font-size: 14px;
	padding: 11px 15px;
	transition: all .2s ease-in-out;
}
ul.nav.navbar-nav.navbar-right.lady-catalog-menu li a:hover{
	background-color: #5e5e5e;
}
ul.nav.navbar-nav.navbar-right.lady-catalog-menu>li{
	float:left;
}
ul.nav.navbar-nav.navbar-right.lady-catalog-menu {
	margin-top: 0;
	width: initial;
}
.caret {
	margin-left: 5px;
}
.menu-dashboard{
	background-color: #3c3c3c;
	color:white;
}
ul.menu-dashboard li a{
	background-color: #3c3c3c;

}
ul.nav.navbar-nav.navbar-right.lady-catalog-menu ul.dropdown-menu.menu-dashboard{
	padding: 0;
	position: absolute;
	z-index: 2000;
	background: #3C3C3C;
	color: white;
}
ul.nav.navbar-nav.navbar-right.lady-catalog-menu ul.dropdown-menu.menu-dashboard li a:hover{
	background-color: #5e5e5e;
}
.col-lg-12.no-padding {
	padding: 0;
}
nav.navbar.nav-lady-catalog {
	border: none;
	border-bottom: 5px solid #c1ebf6;
	border-radius: 0;
	max-width: 2000px;
	margin: 0 auto;
}

nav.navbar.nav-lady-catalog a.logo {
	margin-right: 0;
	margin-top: -3px;
}
ul.nav.navbar-nav.my-custom.menu-lady-catalog {
	margin-left: 0;
}
ul.nav.navbar-nav.my-custom.menu-lady-catalog li a {
	color: black;
	font-size: 14px;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	transition: all .5s ease-in-out;
	padding: 14px 11px;
}
ul.nav.navbar-nav.my-custom.menu-lady-catalog li a:hover {
	background-color: #c1ebf6;
}
ul.nav.navbar-nav >li a:visited, ul.nav.navbar-nav >li a:active,  {
	background-color: #ffffff;
	border: none;
}
 span.custom-caret {
	color: #C1EBF6;
}
form#search-girl{
	background-color:#f4f4f4 ;
	max-width: 2000px;
	margin: 0 auto;
	padding: 10px 0;
	padding-bottom: 0;
}

form#search-girl .form-group {
	padding: 10px 0;
	padding-top: 2px;
}
form#search-girl .form-group input[type="number"] {

}
form#search-girl .form-group input, form#search-girl .form-group select{
	height: 35px;
	border-radius: 0;
	border:none;
}
form#search-girl .wrap-number .form-group input[type="number"]{
	width: 71px;
}
form#search-girl .form-group select{
	width: 190px;
	-webkit-appearance: none;
	background-image: url('../img/select-btn.png');
	background-position: 176px center;
	background-repeat: no-repeat;
	line-height: 1em;
	/* for FF */
	-moz-appearance: none;
	text-indent: 0.01px;
	text-overflow: '';
	/* for IE */
	-ms-appearance: none;
	appearance: none!important;
}


h1.lady-catalog-title {
	font-size: 35px;
	color: #353535;
	text-align: left;
	margin: 0;
	border-right: 1px solid #d6d6d6;
	padding: 10px 0;
	float: left;
	padding-right: 15px;
}
.disabled {
	cursor: pointer;
}
a.btn.select-em{
	background-image: none;
	border: none;
	height: 35px;
	border-radius: 0;
	color:#5b5b5b;
	background-color: white;
	width: 190px;
	position: relative;
}
a.btn.select-em span.caret {
	position: absolute;
	right: 10px;
	top: 15px;
}
a.btn.select-em:hover{
	background-color: white;
}

.select-em ul {
	border-radius: 0;
	background-color: white;
	border: none;
	width: 190px;
	text-align: center;
}
div.number{
	position: relative;
}
.min-up-btn, .min-down-btn, .max-up-btn, .max-down-btn{
	position: absolute;
	background: white;
	display: block;
	width: 18px;
	height: 15px;
	color:#B5B4B4;
	font-size: 11px;
	cursor: pointer;
}
.max-up-btn, .min-up-btn {
	right: 12px;
	top: 5px;
}
.min-down-btn, .max-down-btn {
	right: 12px;
	top: 20px
}
form#search-girl a.btn.search{

}
span.label-input {
	display: block;
	font-size: 13px;
	text-align: left;
}
label.label-search {
	font-size: 24px;
	padding-top: 19px;
}
form#search-girl a.btn.search {
	border-radius: 0;
	background-color: #57b711;
	color: white;
	padding: 7px 22px;
	padding-bottom: 6px;
	margin-top: 8px;
}
.col {
	display: inline-block;
	box-sizing: border-box;
	margin-left:20px;
}
.col.no-padding.btn-search {
	margin-right: 15px;
}
a.btn.advanced-srch {
	position: absolute;
	right: 0;
	bottom: -27px;
	color: #949494;
	border: none;
	border-radius: 0;
	background: #F4F4F4;
	font-size: 12px;
	border-bottom-left-radius: 8px;
	border-bottom-right-radius: 8px;
	z-index:50;
}
h3.res-serch-title {
	color: #979797;
	font-size: 14px;
	text-align: center;
	margin: 25px 0;
}
.prev-anketa.center-block.anketa-result h3.my-name{
	font-size: 20px;
	padding-top:13px;
	float:left;
}
a.v-prof.btn {
	background-color: rgba(66, 133, 17, 1);
	color: white;
	font-size: 12px;
	padding: 5px 5px;
	border-radius: 6px;
	border: none;
	display: inline-block;
	border: 1px inset transparent;
	margin: 0;
	position: relative;
	float: right;
	margin-top: 10px;
	background-image: none;
	transition: all .2s;
}
a.v-prof.btn:hover{
	border: 1px inset #6fd11c;
}

.prev-anketa.center-block.anketa-result span.from-city {
	clear: both;
	display: block;
	font-size: 14px;
	text-align: left;
	padding-top: 7px;
}
input.check-star {
	right: 12px;
	bottom: 9px;
	display: block;
}
.check-star {
	vertical-align: top;
	margin: 0 3px 0 0;

}

.check-star {
	cursor: pointer;
}
.check-star:not(checked) {
	position: absolute;
	opacity: 0;
	width: 35px;
	height: 35px;
	z-index: 1000;
}


.check-star:not(checked) + label:before {
	content: '';
	position: absolute;
	bottom: 10px;
	right: 10px;
	width: 39px;
	height: 37px;
	background-image: url("../img/star1.png");
	background-repeat: no-repeat;
}


.check-star:not(checked) + label:after {
	content: '';
	background-image:url("../img/star2.png");
	position: absolute;
	background: #FFF;
	transition: all .2s;
	background-repeat: no-repeat;
}
.check-star:checked + label:before {
	content: '';
	background-image: url("../img/star2.png");
	background-position: 53% 54%;
	background-repeat: no-repeat;
	position: absolute;
	transition: all .2s;
	background-repeat: no-repeat;
}
input.check-star:hover .check-star + label:before{
	background-image: url("../img/star2.png");
}
label.hidden-my {
	position: absolute;
	right: 0;
	bottom: 0;
}
.check-star:after{
	content: '';
	background-image: url("../img/star2.png");
}

.prev-anketa.center-block.anketa-result {
	margin-bottom: 60px;
}
ul.pagination li a.btn {
	padding: 14px 20px;
	background-color: #f5f5f5;
	color: #333;
	border: none;
	margin: 0 5px;
	padding-bottom: 15px;
	transition: all .2s;
}
.pagination>li:first-child>a, .pagination>li:last-child>a, .pagination>li:last-child>span, .pagination>li:first-child>span {
	padding: 11px 20px;
	border: none;
	background-color:#f5f5f5;
	border-radius: 0;
	color: #333;
}
.pagination>li:first-child>a{
	margin-right: 5px;
}
.pagination>li:last-child>a{
	margin-left: 5px;
}
ul.pagination li a.btn:hover, .pagination>li:first-child>a:hover, .pagination>li:last-child>a:hover{
	background-color: #e3e3e3;
}
ul.pagination li a.btn.active {
	background-image: none;
	background-color: #57B711;
	color:white;
}
nav.text-center {
	margin-bottom: 160px;
}
.invisible-form{
	background-color: #f8f8f8;
	padding: 43px 25px;
	display: none;
}
a.btn.select-em span.glyphicon.glyphicon-triangle-bottom {
	text-align: right;
	float: right;
	margin-top: 5px;
	color: #B5B4B4;
	top: 7px;
	position: absolute;
	right: 13px;
}

form#search-girl .invisible-form .form-group input[type="number"]{
	width: 100%;
}
label.label-advanced-search {
	font-size: 13px;
}
form#search-girl .invisible-form .form-group.number {
	width: 42%;
}
form#search-girl .invisible-form input[type="number"] {
	width: 100%
}
h3.label-advanced-search {
	display: inline-block;
	vertical-align: middle;
	padding-top: 12px;
	font-size: 13px;
	padding-left: 20px;
	padding-bottom: 5px;
}
 .form-group.select-cont,  .form-group.select-cont .a.btn.select-em, .form-group.select-cont .btn-group.select-em{
	width: 100%;
}
.form-group.select-cont a.btn.select-em {
	width: 100%;
}
.form-group.select-cont a.btn.select-em , .select-em ul, form#search-girl .invisible-form .form-group.select-cont input{
	width: 100%;
}

.checkbox {
	vertical-align: top;
	margin: 0 3px 0 0;
	width: 17px;
	height: 17px;
}

.checkbox + label {
	cursor: pointer;
}

.checkbox:not(checked) {
	position: absolute;
	opacity: 0;
}
.checkbox:not(checked) + label {
	position: relative;
	padding: 0 0 0 60px;
}

.checkbox:not(checked) + label:before {
	content: '';
	position: absolute;
	top: -14px;
	left: 0;
	width: 62px;
	height: 35px;
	border-radius: 18px;
	background: #CDD1DA;
	box-shadow: inset 0 2px 3px rgba(0,0,0,.2);
}
.checkbox:not(checked) + label:after {
	content: '';
	position: absolute;
	top: -13px;
	left: 2px;
	width: 32px;
	height: 32px;
	border-radius: 24px;
	background: #FFF;
	box-shadow: 0 2px 5px rgba(0,0,0,.3);
	transition: all .2s;
}
.checkbox:checked + label:before {
	background: #7ed84c;
}
.checkbox:checked + label:after {
	left: 29px;
}
form#search-girl a.btn.search.adv-search {
	margin-top: 24px;
	padding: 12px 40px;
	transition: all .2s;
}
form#search-girl a.btn.search.adv-search:hover, form#search-girl a.btn.search:hover{
	background: #74cb49;
}
a.btn.advanced-srch.my-color{
	background-color: #f8f8f8;
}
/*-------------LOGIN-PAGE----------------------*/
.header-login-page{
	margin-bottom:50px;
}
article.login-page{
	font-family: "HelveticaLight", sans-serif;
	color:#5d5d5d;
	padding-bottom:170px;
}
h1.title-login-page {
	font-size: 30px;
}
.cont-girl{
	background-color: #f8f8f8;
	padding: 15px 40px 0 40px;
	margin-bottom: 75px;
}
.cont-girl .prev-anketa.center-block.anketa-result {
	max-width: 243px;
	margin-bottom: 33px;
}
.cont-girl .prev-anketa.center-block.anketa-result .online {
	font-size: 10px;
}
.cont-girl .prev-anketa.center-block.anketa-result h3.my-name {
	font-size: 21px;
	font-family: "HelveticaMedium", sans-serif;
}
.cont-girl .prev-anketa.center-block.anketa-result span.from-city{
	font-family: "HelveticaLight", sans-serif;
}
.cont-girl .no-padding{
	padding: 0 8px;
}
.text-aside-login-page {
	font-size: 18px;
	line-height: 24px;
	color: #9f9f9f;
	margin-bottom: 25px;
	font-family: "OpenSansRegular", "HelveticaRegular", "PT Sans", sans-serif;
}
form#login-form{
	background-color: #ebebeb;
	padding: 35px 10px;
}
.group-fb .input-group-addon:first-child, a.btn.using-fb {
	color: white;
	background-color: #3c5a99;
	border: none;
	border-radius: 0;
	transition: all .2s;
}
.group-fb .input-group-addon:first-child{
	border-right: 1px solid white;
	position: relative;
}
.group-fb .input-group-addon:first-child i.fa.fa-facebook {
	position: absolute;
	font-size: 23px;
	bottom: -2px;
	right: 2px;
}
a.proceed.btn {
	border: none;
	background-color: #1f68ba;
	color: white;
	letter-spacing: 1px;
	padding: 12px 22px;
	float:right;
	transition: all .2s;
}
a.btn.using-fb:hover, a.proceed.btn:hover{
	background-color: #4989d5;
}
form#login-form label{
font-size: 14px;
	color:#383838;
	margin: 20px 0;
}
form#login-form input{
	height: 50px;
	border: none;
	border-radius: 0;
	margin-bottom: 3px;
}
a.forgout {
	font-size: 14px;
	color: #383838;
	padding-top: 13px;
	display: inline-block;
	float: left;
}
a.forgout:hover{
	text-decoration: underline;
}

form#login-form .form-group{
	margin-bottom: 50px;
}
a.btn.create-new-ac {
	border: none;
	background-color: #5f9c10;
	color: white;
}
a.btn.create-new-ac {
	border: none;
	background-color: #5f9c10;
	color: white;
	padding: 12px 17px;
	transition: all .2s;
}
a.btn.create-new-ac:hover{
	background-color: #75b710;
}

.wrap-number{
}
.invisible-form .wrap-number {
	width: 100%;
}
.form-group.number.left-number {
	float: left;
}
.form-group.number.right.right-number {
	float: right;
}
.wrap-number span.to{
	display: inline-block;
	padding-top: 13px;
}
ul.nav.my-nav{
	position: relative;
}
a.dropdown-toggle.btn-dashboard {
	border: 1px solid white;
	padding: 8px 12px;
	border-radius: 3px;
	color: white;
	float: left;
	display: none;
}
.col-lg-4.col-md-4.col-sm-6.col-xs-6.custom-grid {
	border-right: 1px solid #B5B4B4;
}
.col-lg-4.col-md-4.col-sm-6.col-xs-6.custom-grid:first-child{

}

.sec-ico li{
	display: inline-block;
}
.sec-ico li a {
	display: inline-block;
	background: url('../img/cerds.jpg') no-repeat;
	width: 110px;
	height: 56px;
}
ul.sec-ico {
	width: 100%;
	text-align: center;
	margin: 50px 0 161px 0;
}
.sec-ico li a.bbb{
	background-position: -3px -6px;
}
.sec-ico li a.veri-sign{
	background-position: -112px -7px;
}
.sec-ico li a.mcafee{
	background-position: -215px -5px;
}
.sec-ico li a.cart{
	background-position: -327px -10px;
}


.news-media-body a.btn.my-btn {
	margin-bottom: 30px;
}
.media-body.article-media-body.news-media-body {
}
p.text-news.my-news {
	padding-bottom: 20px;
}
.other-news a.btn.my-btn {
	border-radius: 4px;
}
.other-news h4.media-heading a{
	font-family: "OpenSansRegular", sans-serif;
}
.other-news h4.media-heading:hover{
	font-weight: bold;
}

.text-error>h1 {
	font-family: "OpenSansLight",sans-serif, "HelveticaLight";
	font-size: 166px;
	padding-top: 0;
	margin-top: 0;
	margin-bottom: 0;
}
.text-error>h2 {
	font-family: "OpenSansLight",sans-serif, "HelveticaLight";
	font-size: 44px;
	color: #767676;
	margin-bottom: 30px;
}
.text-error>p{
	font-family: "OpenSansLight",sans-serif, "HelveticaLight";
	font-size: 12px;
	color:#a2a2a2;
	line-height: 18px;
	margin-bottom: 30px;
	text-align: left;
}
.text-error>h3{
	font-family: "OpenSansLight",sans-serif, "HelveticaLight";
	font-size: 24px;
	color:#a2a2a2;
	margin-bottom: 30px;
	text-align: left;
}
.text-error>a.btn {
	background-color: #FFFFFF;
	border: 1px solid #5f9c10;
	margin-bottom: 30px;
	padding: 12px 12px;
	color: #5f9c10;
	transition: all .3s ease-in-out;

}
.text-error>p.report{
	font-size:17px ;
}
.text-error>p.report a{
	text-decoration: underline;
}
.text-error>a.btn:hover{
	background-color: #529011;
	color:white;
	border:1px solid white;
}
.menu-404 ul.footer-title-gr.agency li {
	background-image: none;
	padding: 0;
	margin: 0;
	height: inherit;
	margin-bottom: 15px;
}
.menu-404 ul.footer-title-gr.agency{
	padding-bottom: 0;
}
.menu-404 ul.footer-title-gr li a:hover{
	color: #0044cc;
}
.menu-404  .footer-title-gr {
	border-left:none;
	padding-left: 0;
	text-align: left;
}
.article-error{
	padding-top: 100px;
}
.menu-404 h1 {
	padding: 0;
	margin: 0;
	font-size: 30px;
	padding-top: 25px;
	padding-left: 10px;
}
img.img-responsive.img-404 {
	margin: 0 auto;
}
.col-lg-6.col-md-6.col-sm-5.col-xs-12.f-right {
	float: right;
}
.col-lg-5.col-md-5.col-sm-6.col-xs-12.f-left {
	float: left;
}
.big-img {
	position: absolute;
	right: 0;
	top: -62px;
}
div#myModal {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}
.modal-dialog.modal-sm {
	margin: 0 auto;
}
.modal-content.my-content {
	text-align: center;
	width: 248px;
	padding: 11px 12px;
	position: relative;
	background: linear-gradient(to top, #dfeff3, #ffffff);
}
img.load-img {
	position: absolute;
	top: -40px;
	left: 75px;
	animation:heart-puls ;
	animation-duration: .4s;
	animation-iteration-count: infinite;
	animation-direction: alternate;
}
@keyframes heart-puls {
	0%{
		transform: Scale(1.1);
	}
	100%{
		transform: Scale(1.2,1.2);
	}
}
.carousel {
	position: relative;
	max-width: 2000px;
	margin: 0 auto;
}

