/*------LADY-PROFILE-CHANGE-PASSWORD.SCSS----------*/
@import "../variables.scss";

.wrap-change-password {
  background-color: #f7f7f7;
  padding: 20px;
  margin-bottom: 50px;

  .info span {
    color: #00f;
    margin-top: 6px;
  }
  .info {
    border: 2px dashed #16b4dc;
    background-color: #e1f3f8;
  }
  .panel-mess {
    padding: 20px;
    margin-bottom: 35px;
  }
  .panel-mess p {
    font-size: 14px;
    float:right;
    width: 90%;
    line-height: 21px;
  }

  .panel-mess h3 {
    font-size: 18px;
    color: $color-blue-font

  }
.form-group{
  margin-bottom: 20px;
  @media (max-width: 479px){
    padding: 0;
  }
  input{
    height: 50px;
    border-radius:0;
  }
}
  .form-group label{
    color:#6d6d6d;
    font-size: 18px;
    display: block;
    margin-bottom: 15px;
    text-align: left;
  }
  a.btn{
    border: none;
    color: white;
    background: #1f68ba;
    padding: 9px 15px;
    font-size: 14px;
    float: right;
    @include transition(all .3s ease-in-out);


    &:hover{
      background-color: $color-green;
    }
  }
}
/*-----END-LADY-PROFILE-CHANGE-PASSWORD.SCSS----------*/
