/*------PHOTO-POPUP.SCSS----------*/

@import "../variables.scss";

.modal-dialog.modal-lg.photo-popup{
  width: 90%;
  max-width: 960px;
  .invite-contetnt {
    padding: 0;
  }
  .modal-content{
    border:none;
    box-shadow: none;
    border-radius:0;
    background: transparent;
    .slick-slider{
      margin-bottom: 0;
    }
  }
}
img.pop-up-image{
  max-width:960px;
  max-height: 600px;
}
.rate{
  float:right;
  color:white;
  font-size:14px;
  margin-top: 20px;
  @media only screen and(max-width: 750px){
    text-align: center;
    display: inline-block;
    float:none;
  }
  @media only screen and(max-width: 625px){
    margin-top: 32px;
  }
  span{
    padding-left: 7px;
  }
  h3{
    text-align: center;
    margin-top: 0;
    margin-bottom: 15px;
    font-size: 24px;
    @media only screen and(max-width: 625px){
      font-size: 18px;
    }
  }
}
.pop-up-footer{

  @media only screen and(max-width: 750px){
    text-align: center;
  }

  background: transparent;
  .name-girl {
    float: left;
    color: white;
    font-size: 29px;
    padding-top: 27px;
    font-family:$font-light;
    @media only screen and(max-width: 750px){
      float: none;
    }
    .id-girl{
      color:white;
      @media only screen and(max-width: 750px){
        font-size:12px;
      }
    }
    @media only screen and(max-width: 750px){
      font-size:18px;
    }
  }
}
.star-rating.rating-xs.rating-active{
  position: relative;
   padding-right: 111px;
  margin-top: 7px;
}
.star-rating .caption {
  padding-left: 5px;
  position: absolute;
  right: 0;
  top: 0;
  font-size: 23px;
  @media only screen and(max-width: 750px){

  }
}
.rating-xs {
  @media only screen and(max-width: 750px){
    font-size: 20px;
  }

}
.clear-rating.clear-rating-active{
  display: none;
}
.photo-rating{
  margin-left: 118px;
}
.slick-wrap2{
  span.slick-arrow{
    display: inline;
    color: white;
    font-size: 126px;
    position: absolute;
    top:36%;
    cursor: pointer;
    opacity: .4;
    z-index: 2000;
    @media only screen and(max-width: 1155px){
      font-size: 101px;
      position: absolute;
      top: 39%;
    }
    @media only screen and(max-width: 750px){
      font-size:63px;
    }
    @media only screen and(max-width: 625px){
      font-size: 24px;
    }
    @include transition(all .3s ease-in-out);

    &:hover {
      opacity: .8;
    }
  }
  span.next.slick-arrow{
    right: 32px;
     }
  span.prev.slick-arrow{
    left: 32px;
  }
}
/*-----END-PHOTO-POPUP.SCSS----------*/
